{% extends 'layout.html' %}
{% load i18n %}
{% load static %}

{% block header %}
{% endblock %}

{% block main %}

    <section class="bg-primary" id="about">
        <div class="container text-center">

            <h3>{% trans 'We need <strong>some info</strong> from your favourite <strong>social media</strong> for creating your profile.' %}</h3>

        </div>
    </section>

{% endblock main %}

{% block post_main %}
    <aside class="bg-dark">
        <div class="container text-center">
            <h3>{% trans 'Click here below to sign up with:' %}</h3>
            <div class="call-to-action">
                <a class="page-scroll" href="{% url 'social:begin' 'facebook' %}">
                    <i class="fa fa-5x fa-facebook-square wow tada infinite" data-wow-delay=".2s"></i>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="page-scroll" href="{% url 'social:begin' 'linkedin-oauth2' %}">
                    <i class="fa fa-5x fa-linkedin-square wow tada infinite" data-wow-interval=".4s"></i>
                </a>
            </div>
        </div>
    </aside>
{% endblock %}