{% load i18n %}

<div class="row">
    {% if supporters %}
        {% for supporter in supporters %}
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                    {% if supporter.supporter.profile.image.url %}
                        <img class="img-responsive" src="{{ supporter.supporter.profile.image.url }}" alt="">
                    {% else %}
                        <p>{% trans 'No img' %}</p>
                    {% endif %}
                </a>
            </div>
        {% endfor %}

    {% else %}
        <p>{% trans 'No supporters yet' %}</p>
    {% endif %}
</div>